parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: config/enumshare.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Commands/EnumsWatchCommand.php

		-
			message: '#^Trait Olivermbs\\LaravelEnumshare\\Concerns\\SharesWithFrontend is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/SharesWithFrontend.php
